<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apns_commands</key>
	<dict>
		<key>10</key>
		<dict>
			<key>direction</key>
			<string>both</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Topic Hash</string>
					<key>name</key>
					<string>topic_hash</string>
				</dict>
				<key>13</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Priority</string>
					<key>name</key>
					<string>priority</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
				<key>15</key>
				<dict>
					<key>label</key>
					<string>Base Token</string>
					<key>name</key>
					<string>base_token</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>21</key>
				<dict>
					<key>label</key>
					<string>Message Tracing UUID</string>
					<key>name</key>
					<string>tracing_uuid</string>
				</dict>
				<key>24</key>
				<dict>
					<key>label</key>
					<string>Correlation Identifier</string>
					<key>name</key>
					<string>correlation_id</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>25</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Last RTT</string>
					<key>name</key>
					<string>lastRTT</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>26</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>APN Flags</string>
					<key>name</key>
					<string>apn_flags</string>
					<key>type</key>
					<string>FT_UINT32</string>
				</dict>
				<key>28</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Push Type</string>
					<key>name</key>
					<string>push_type</string>
					<key>strings</key>
					<string>VALS(push_type_string)</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>3</key>
				<dict>
					<key>label</key>
					<string>Payload</string>
					<key>name</key>
					<string>payload</string>
				</dict>
				<key>4</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Message ID</string>
					<key>name</key>
					<string>message_id</string>
					<key>type</key>
					<string>FT_UINT32</string>
				</dict>
				<key>5</key>
				<dict>
					<key>base</key>
					<string>ABSOLUTE_TIME_UTC</string>
					<key>label</key>
					<string>Message Expiry Time</string>
					<key>name</key>
					<string>expiry</string>
					<key>type</key>
					<string>FT_ABSOLUTE_TIME</string>
				</dict>
				<key>6</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Message Timestamp</string>
					<key>name</key>
					<string>timestamp</string>
					<key>type</key>
					<string>FT_UINT64</string>
				</dict>
				<key>9</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Storage Fiags</string>
					<key>name</key>
					<string>storage_flags</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Message</string>
			<key>name</key>
			<string>message</string>
		</dict>
		<key>11</key>
		<dict>
			<key>direction</key>
			<string>both</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>4</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Message ID</string>
					<key>name</key>
					<string>message_id</string>
					<key>type</key>
					<string>FT_UINT32</string>
				</dict>
				<key>8</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Response</string>
					<key>name</key>
					<string>response</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Acknowledge Message</string>
			<key>name</key>
			<string>ack</string>
		</dict>
		<key>12</key>
		<dict>
			<key>direction</key>
			<string>outgoing</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Carrier</string>
					<key>name</key>
					<string>carrier</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Software Version</string>
					<key>name</key>
					<string>software_version</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>3</key>
				<dict>
					<key>label</key>
					<string>Software Build</string>
					<key>name</key>
					<string>software_build</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>4</key>
				<dict>
					<key>label</key>
					<string>Hardware Version</string>
					<key>name</key>
					<string>hardware_version</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>5</key>
				<dict>
					<key>label</key>
					<string>Keepalive Interval</string>
					<key>name</key>
					<string>interval</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>6</key>
				<dict>
					<key>label</key>
					<string>Delayed Response Interval</string>
					<key>name</key>
					<string>delayed_interval</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Keep-Alive</string>
			<key>name</key>
			<string>keepalive</string>
		</dict>
		<key>13</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Response</string>
					<key>name</key>
					<string>response</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Keep-Alive Response</string>
			<key>name</key>
			<string>keepalive_response</string>
		</dict>
		<key>15</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Want Padding</string>
					<key>name</key>
					<string>want_padding</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Flush</string>
			<key>name</key>
			<string>flush</string>
		</dict>
		<key>16</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>label</key>
			<string>Flush Response</string>
			<key>name</key>
			<string>flush_response</string>
		</dict>
		<key>17</key>
		<dict>
			<key>direction</key>
			<string>outgoing</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Base Token</string>
					<key>name</key>
					<string>base_token</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Topic Hash</string>
					<key>name</key>
					<string>topic_hash</string>
				</dict>
				<key>3</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>App ID</string>
					<key>name</key>
					<string>appid</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
			</dict>
			<key>label</key>
			<string>App Token Generate Request</string>
			<key>name</key>
			<string>apptoken</string>
		</dict>
		<key>18</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Response</string>
					<key>name</key>
					<string>response</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>3</key>
				<dict>
					<key>label</key>
					<string>Topic Hash</string>
					<key>name</key>
					<string>topic_hash</string>
				</dict>
				<key>4</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>App ID</string>
					<key>name</key>
					<string>appid</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
			</dict>
			<key>label</key>
			<string>App Token Generate Response</string>
			<key>name</key>
			<string>apptoken_response</string>
		</dict>
		<key>20</key>
		<dict>
			<key>direction</key>
			<string>outgoing</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>State</string>
					<key>name</key>
					<string>state</string>
					<key>strings</key>
					<string>VALS(active_state_string)</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
				<key>2</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Interval</string>
					<key>name</key>
					<string>interval</string>
					<key>type</key>
					<string>FT_UINT32</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Set Active State</string>
			<key>name</key>
			<string>setstate</string>
		</dict>
		<key>22</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>label</key>
			<string>Keep-Alive Ack</string>
			<key>name</key>
			<string>keepalive_ack</string>
		</dict>
		<key>23</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>items</key>
			<dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Server Metadata</string>
					<key>name</key>
					<string>server_metadata</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>9</key>
				<dict>
					<key>label</key>
					<string>Redirect Reason</string>
					<key>name</key>
					<string>redirect_reason</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Redirect</string>
			<key>name</key>
			<string>redirect</string>
		</dict>
		<key>7</key>
		<dict>
			<key>direction</key>
			<string>outgoing</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>10</key>
				<dict>
					<key>label</key>
					<string>Software Build</string>
					<key>name</key>
					<string>software_build</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>11</key>
				<dict>
					<key>label</key>
					<string>Hardware Version</string>
					<key>name</key>
					<string>hardware_version</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>12</key>
				<dict>
					<key>label</key>
					<string>Certificate</string>
					<key>name</key>
					<string>certificate</string>
				</dict>
				<key>13</key>
				<dict>
					<key>label</key>
					<string>Nonce</string>
					<key>name</key>
					<string>nonce</string>
				</dict>
				<key>14</key>
				<dict>
					<key>label</key>
					<string>Signature</string>
					<key>name</key>
					<string>signature</string>
				</dict>
				<key>16</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Protocol Version</string>
					<key>name</key>
					<string>version</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>17</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Redirect Count</string>
					<key>name</key>
					<string>redirect_count</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>19</key>
				<dict>
					<key>label</key>
					<string>DNS Resolve Time</string>
					<key>name</key>
					<string>dns_time</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>State</string>
					<key>name</key>
					<string>state</string>
				</dict>
				<key>20</key>
				<dict>
					<key>label</key>
					<string>TLS Handshake Time</string>
					<key>name</key>
					<string>tls_time</string>
					<key>type</key>
					<string>FT_RELATIVE_TIME</string>
				</dict>
				<key>5</key>
				<dict>
					<key>label</key>
					<string>Flags</string>
					<key>name</key>
					<string>flags</string>
				</dict>
				<key>6</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Interface</string>
					<key>name</key>
					<string>interface</string>
					<key>strings</key>
					<string>VALS(interface_string)</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
				<key>7</key>
				<dict>
					<key>label</key>
					<string>Active Interval</string>
					<key>name</key>
					<string>active_interval</string>
				</dict>
				<key>8</key>
				<dict>
					<key>label</key>
					<string>Carrier</string>
					<key>name</key>
					<string>carrier</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>9</key>
				<dict>
					<key>label</key>
					<string>Software Version</string>
					<key>name</key>
					<string>software_version</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Connect</string>
			<key>name</key>
			<string>connect</string>
		</dict>
		<key>8</key>
		<dict>
			<key>direction</key>
			<string>incoming</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Response</string>
					<key>name</key>
					<string>connected_response</string>
					<key>type</key>
					<string>FT_UINT8</string>
				</dict>
				<key>10</key>
				<dict>
					<key>base</key>
					<string>ABSOLUTE_TIME_UTC</string>
					<key>label</key>
					<string>Server Time</string>
					<key>name</key>
					<string>server_time</string>
					<key>type</key>
					<string>FT_ABSOLUTE_TIME</string>
				</dict>
				<key>11</key>
				<dict>
					<key>label</key>
					<string>Geo Region</string>
					<key>name</key>
					<string>geo_region</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>12</key>
				<dict>
					<key>base</key>
					<string>ABSOLUTE_TIME_UTC</string>
					<key>label</key>
					<string>Unknown</string>
					<key>name</key>
					<string>unknown_ts</string>
					<key>type</key>
					<string>FT_ABSOLUTE_TIME</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Server Metadata</string>
					<key>name</key>
					<string>server_metadata</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
				<key>3</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>4</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Message Size</string>
					<key>name</key>
					<string>message_size</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>6</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Capabilities</string>
					<key>name</key>
					<string>capabilities</string>
					<key>type</key>
					<string>FT_UINT32</string>
				</dict>
				<key>7</key>
				<dict>
					<key>base</key>
					<string>BASE_HEX</string>
					<key>label</key>
					<string>Server Time For Bad Nonce</string>
					<key>name</key>
					<string>bad_nonce_time</string>
					<key>type</key>
					<string>FT_UINT64</string>
				</dict>
				<key>8</key>
				<dict>
					<key>base</key>
					<string>BASE_DEC</string>
					<key>label</key>
					<string>Large Message Size</string>
					<key>name</key>
					<string>large_message_size</string>
					<key>type</key>
					<string>FT_UINT16</string>
				</dict>
				<key>9</key>
				<dict>
					<key>label</key>
					<string>Redirect Reason</string>
					<key>name</key>
					<string>redirect_reason</string>
					<key>type</key>
					<string>FT_STRING</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Connected</string>
			<key>name</key>
			<string>connected</string>
		</dict>
		<key>9</key>
		<dict>
			<key>direction</key>
			<string>outgoing</string>
			<key>items</key>
			<dict>
				<key>1</key>
				<dict>
					<key>label</key>
					<string>Token</string>
					<key>name</key>
					<string>token</string>
				</dict>
				<key>2</key>
				<dict>
					<key>label</key>
					<string>Enabled Topic Hash</string>
					<key>name</key>
					<string>enabled_hash</string>
				</dict>
				<key>3</key>
				<dict>
					<key>label</key>
					<string>Ignored Topic Hash</string>
					<key>name</key>
					<string>ignored_hash</string>
				</dict>
				<key>4</key>
				<dict>
					<key>label</key>
					<string>Opportunistic Topic Hash</string>
					<key>name</key>
					<string>opportunistic_hash</string>
				</dict>
				<key>5</key>
				<dict>
					<key>label</key>
					<string>Paused Topic Hash</string>
					<key>name</key>
					<string>paused_hash</string>
				</dict>
			</dict>
			<key>label</key>
			<string>Filter</string>
			<key>name</key>
			<string>filter</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
