<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qualcomm</key>
	<dict>
		<key>mav13</key>
		<dict>
			<key>bbfw_contents</key>
			<dict>
				<key>acdb.mbn</key>
				<dict>
					<key>description</key>
					<string>accessory database</string>
				</dict>
				<key>apps.mbn</key>
				<dict>
					<key>description</key>
					<string>userland applications</string>
				</dict>
				<key>bbcfg.mbn</key>
				<dict>
					<key>description</key>
					<string>baseband configuration data</string>
				</dict>
				<key>dsp3.mbn</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
				<data>
				BAgw
				</data>
				<key>mba.mbn</key>
				<dict>
					<key>description</key>
					<string>QURT (Qualcomm RealTime?) kernel</string>
				</dict>
				<key>qdsp6sw.mbn</key>
				<dict>
					<key>description</key>
					<string>hexagon DSP software</string>
				</dict>
				<key>restoresbl1.mbn</key>
				<dict>
					<key>description</key>
					<string>bootloader for restore</string>
				</dict>
				<key>rpm.mbn</key>
				<dict>
					<key>description</key>
					<string>Rollback prevention manager</string>
				</dict>
				<key>sbl1.mbn</key>
				<dict>
					<key>description</key>
					<string>bootloader</string>
				</dict>
				<key>tz.mbn</key>
				<dict>
					<key>description</key>
					<string>trustzone loader</string>
				</dict>
				<key>wdt.mbn</key>
				<dict>
					<key>description</key>
					<string>watchdog timer</string>
				</dict>
			</dict>
			<key>metadata</key>
			<dict>
				<key>credits</key>
				<array>
					<string>rickmark</string>
				</array>
			</dict>
		</dict>
		<key>mav20</key>
		<dict>
			<key>metadata</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>versions</key>
			<array>
				<string>1.00.03-5</string>
				<string>1.14.04</string>
				<string>1.14.05</string>
				<string>1.14.06</string>
				<string>1.31.02</string>
				<string>1.31.03-4</string>
				<string>1.31.03-5</string>
				<string>1.41.00</string>
				<string>1.42.02</string>
				<string>1.42.03</string>
				<string>1.57.02</string>
				<string>1.60.01-2</string>
				<string>1.62.02</string>
				<string>1.62.09</string>
				<string>1.62.11</string>
				<string>1.70.03</string>
				<string>1.71.00</string>
				<string>1.71.01</string>
				<string>1.70.03</string>
				<string>1.80.00</string>
				<string>1.80.01</string>
				<string>1.80.02</string>
				<string>2.03.01</string>
				<string>2.06.00</string>
				<string>2.07.01</string>
				<string>2.08.01</string>
				<string>2.09.05</string>
				<string>2.09.10</string>
				<string>2.10.00</string>
				<string>2.11.01</string>
				<string>2.11.02</string>
				<string>2.11.04</string>
				<string>2.21.01</string>
				<string>2.22.00</string>
				<string>2.23.02</string>
				<string>2.22.02</string>
				<string>2.23.02</string>
				<string>2.51.01</string>
				<string>2.52.00-1</string>
				<string>2.53.01</string>
				<string>2.52.02</string>
			</array>
		</dict>
		<key>mav21</key>
		<dict>
			<key>bbfw_contents</key>
			<array>
				<string>acdb.mbn</string>
				<string>apdp.mbn</string>
				<string>bbcfg.mbn</string>
				<string>hyp.mbn</string>
				<string>multi_image_qti.mbn</string>
				<string>restoresbl1.mbn</string>
				<string>tz.mbn</string>
				<string>aop.mbn</string>
				<string>apps.mbn</string>
				<string>devcfg.mbn</string>
				<string>multi_image.mbn</string>
				<string>qdsp6sw.mbn</string>
				<string>sbl1.mbn</string>
			</array>
			<key>filesystem</key>
			<array>
				<string>/cgps/nv/item_files/me/gnss_pga_backoff_config</string>
				<string>/cgps/nv/item_files/pe/gnss_rti_health_expiration_period</string>
				<string>/data/3gpp/data_3gpp_dynamic_config.xml</string>
				<string>/mav/bbcfg_file_hash_common_shipping_setting</string>
				<string>/mav/bbcfg_file_hash_protocol_static_nv</string>
				<string>/mav/cpms_dbg_msg_toggle</string>
				<string>/mav/cpms_feature_toggle</string>
				<string>/mav/cpms_sidefire_mitigations</string>
				<string>/mav/product_pri_setting_efidiag_revision</string>
				<string>/mav/product_pri_setting_revision</string>
				<string>/mmode/cmcall/cdma_voice_call_collision</string>
				<string>/nv/item_files/Thin_UI/enable_thin_ui_cfg</string>
				<string>/nv/item_files/gps/cgps/me/gnss_bds_b2a_path_loss</string>
				<string>/nv/item_files/gps/cgps/me/gnss_bds_path_loss</string>
				<string>/nv/item_files/gps/cgps/me/gnss_config</string>
				<string>/nv/item_files/gps/cgps/me/gnss_gal_E5a_path_loss</string>
				<string>/nv/item_files/gps/cgps/me/gnss_gal_path_loss</string>
				<string>/nv/item_files/gps/cgps/me/gnss_gps_L5_path_loss</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_B1itoB2a_rfgd_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_E1toE5a_rfgd_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_L1toL5_rfgd_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_e911_constellation_disablement</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_forced_mb_engagement_config</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_rfgd_bds_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_rfgd_gps2gal_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_me_rfgd_gps2glo_ns</string>
				<string>/nv/item_files/gps/cgps/me/gnss_multiband_configuration</string>
				<string>/nv/item_files/gps/cgps/sm/aagps_positioning_modes_supported_ext</string>
				<string>/nv/item_files/gps/cgps/sm/assisted_bds_protocol_enable_mask</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_assisted_glo_protocol_select</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_concurrent_sessions_support_config</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_emergency_support_config</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_lock_ctrl_for_oem</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_lpp_enable</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_lppe_cp_config</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_lppe_up_config</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_sm_agps_features</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_sm_sha_tls_support</string>
				<string>/nv/item_files/gps/cgps/sm/gnss_supl_udp_enable_select</string>
				<string>/nv/item_files/mcfg/mcfg_refresh_timer</string>
				<string>/nv/item_files/mcfg/mcfg_refresh_timer_Subscription02</string>
				<string>/nv/item_files/mcs/lmtsmgr/gnss/gnss_nr_config</string>
				<string>/nv/item_files/mcs/lmtsmgr/sar/rtsar/rtsar_config</string>
				<string>/nv/item_files/mcs/lmtsmgr/vbatt/vbatt_gsm_limit</string>
				<string>/nv/item_files/mcs/lmtsmgr/vbatt/vbatt_lte_limit</string>
				<string>/nv/item_files/mcs/lmtsmgr/vbatt/vbatt_nr5g_limit</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_lte_elna</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_lte_pa</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_nr_elna</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_nr_pa</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_toggle</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_wcdma_elna</string>
				<string>/nv/item_files/mcs/lmtsmgr/wwpwr_est/wwpwr_est_wcdma_pa</string>
				<string>/nv/item_files/mcs/tcxomgr/xo_crystal_type</string>
				<string>/nv/item_files/mcs/trm/ant_div_switch_master</string>
				<string>/nv/item_files/modem/hdr/mac/hdr_dtx_cfg</string>
				<string>/nv/item_files/modem/hdr/srch/hdr_acq_div_enable</string>
				<string>/nv/item_files/modem/hdr/srch/hdr_acq_div_thresh0</string>
				<string>/nv/item_files/modem/hdr/srch/hdr_acq_div_thresh1</string>
				<string>/nv/item_files/modem/lte/L2/mac/lte_mac_ul_throttle_min_rate</string>
				<string>/nv/item_files/modem/lte/ML1/fr2_priority_optimization</string>
				<string>/nv/item_files/modem/lte/ML1/rsrp_boost_cfg</string>
				<string>/nv/item_files/modem/lte/common/ca_disable</string>
				<string>/nv/item_files/modem/lte/rrc/efs/cust_signature_scg_failure_info_nr</string>
				<string>/nv/item_files/modem/lte/rrc/efs/data_inactivity_control</string>
				<string>/nv/item_files/modem/lte/rrc/efs/lfs_sort_per_band_prio</string>
				<string>/nv/item_files/modem/maverick/test/mav_test_efs_size_1</string>
				<string>/nv/item_files/modem/maverick/test/mav_test_efs_size_2</string>
				<string>/nv/item_files/modem/maverick/test/mav_test_efs_size_4</string>
				<string>/nv/item_files/modem/maverick/uim/apps/sub_slot_mapping_override</string>
				<string>/nv/item_files/modem/mcs/cfcm/ezefs/cfcm_dsc</string>
				<string>/nv/item_files/modem/mmode/mode_pref</string>
				<string>/nv/item_files/modem/mmode/qmi/incom_evt_resend</string>
				<string>/nv/item_files/modem/mmode/qmi/no_wait_resp</string>
				<string>/nv/item_files/modem/mmode/sd/mcc_list_emerg_call_full_srv</string>
				<string>/nv/item_files/modem/mmode/sd/sub_scan_scope</string>
				<string>/nv/item_files/modem/mmode/ue_usage_setting</string>
				<string>/nv/item_files/modem/nr5g/L2/mac/ul_tx_backoff</string>
				<string>/nv/item_files/modem/nr5g/ML1/fc_bcl_slow_path_ext</string>
				<string>/nv/item_files/modem/nr5g/RRC/cap_control_t_plus_f_band_combos</string>
				<string>/nv/item_files/modem/nr5g/RRC/cap_pc2_exception_control</string>
				<string>/nv/item_files/modem/nr5g/RRC/failure_mgr_efs_list_cfg</string>
				<string>/nv/item_files/rfnv/00029569</string>
				<string>/policyman/5g_msim_feature_enabled.xml</string>
				<string>/policyman/5g_msim_restriction.xml</string>
				<string>/policyman/5g_roaming_feature_enabled.xml</string>
				<string>/policyman/5g_roaming_restriction.xml</string>
				<string>/policyman/5g_sa_roaming_feature_enabled.xml</string>
				<string>/policyman/carrier_policy.xml</string>
				<string>/policyman/l2nr_policy.xml</string>
				<string>/rfc/device_lut/lut_pid0x0000_mid0x01a5_bus0x23_usid0x01_bus0x28_usid0x01.dat</string>
				<string>/rfc/device_lut/lut_pid0x0001_mid0x0107_bus0x21_usid0x03_bus0x23_usid0x03.dat</string>
				<string>/rfc/device_lut/lut_pid0x0002_mid0x01a5_bus0x21_usid0x05.dat</string>
				<string>/rfc/device_lut/lut_pid0x0002_mid0x0217_bus0x21_usid0x05.dat</string>
				<string>/rfc/device_lut/lut_pid0x0004_mid0x0107_bus0x22_usid0x06_bus0x23_usid0x06.dat</string>
				<string>/rfc/device_lut/lut_pid0x0004_mid0x01a5_bus0x22_usid0x06_bus0x23_usid0x06.dat</string>
				<string>/rfc/device_lut/lut_pid0x0004_mid0x03c6_bus0x22_usid0x06_bus0x23_usid0x06.dat</string>
				<string>/rfc/device_lut/lut_pid0x0010_mid0x01a5_bus0x25_usid0x01.dat</string>
				<string>/rfc/device_lut/lut_pid0x0010_mid0x020c_bus0x25_usid0x01.dat</string>
				<string>/rfc/device_lut/lut_pid0x0011_mid0x0107_bus0x25_usid0x07.dat</string>
				<string>/rfc/device_lut/lut_pid0x0011_mid0x01a5_bus0x25_usid0x07.dat</string>
				<string>/rfc/device_lut/lut_pid0x0011_mid0x03c6_bus0x25_usid0x07.dat</string>
				<string>/rfc/device_lut/lut_pid0x0012_mid0x01a5_bus0x23_usid0x0a.dat</string>
				<string>/rfc/device_lut/lut_pid0x0012_mid0x01a5_bus0x25_usid0x0a.dat</string>
				<string>/rfc/device_lut/lut_pid0x0012_mid0x020c_bus0x23_usid0x0a.dat</string>
				<string>/rfc/device_lut/lut_pid0x0012_mid0x020c_bus0x25_usid0x0a.dat</string>
				<string>/rfc/device_lut/lut_pid0x0013_mid0x01a5_bus0x25_usid0x03_bus0x27_usid0x03.dat</string>
				<string>/rfc/device_lut/lut_pid0x0013_mid0x020c_bus0x25_usid0x03_bus0x27_usid0x03.dat</string>
				<string>/rfc/device_lut/lut_pid0x0020_mid0x01a5_bus0x21_usid0x08.dat</string>
				<string>/rfc/device_lut/lut_pid0x0020_mid0x01a5_bus0x27_usid0x08.dat</string>
				<string>/rfc/device_lut/lut_pid0x0020_mid0x01a5_bus0x28_usid0x08.dat</string>
				<string>/rfc/device_lut/lut_pid0x0020_mid0x020c_bus0x21_usid0x08.dat</string>
				<string>/rfc/device_lut/lut_pid0x0020_mid0x020c_bus0x27_usid0x08.dat</string>
				<string>/rfc/device_lut/lut_pid0x0041_mid0x01a5_bus0x23_usid0x0e.dat</string>
				<string>/rfc/device_lut/lut_pid0x0041_mid0x01a5_bus0x25_usid0x0e.dat</string>
				<string>/rfc/device_lut/lut_pid0x0041_mid0x020c_bus0x23_usid0x0e.dat</string>
				<string>/rfc/device_lut/lut_pid0x0041_mid0x020c_bus0x25_usid0x0e.dat</string>
				<string>/rfc/device_settings/2g_pam_roc_es3/2g_pam_roc_es3.dat</string>
				<string>/rfc/device_settings/2g_pam_roc_es4/2g_pam_roc_es4.dat</string>
				<string>/rfc/device_settings/2g_pam_sky58272_13_v1/2g_pam_sky58272_13_v1.dat</string>
				<string>/rfc/device_settings/2g_pam_sky58272_14_v1/2g_pam_sky58272_14_v1.dat</string>
				<string>/rfc/device_settings/2g_pam_sky58272_15_v1/2g_pam_sky58272_15_v1.dat</string>
				<string>/rfc/device_settings/2g_pam_sky58272_16_v2/2g_pam_sky58272_16_v2.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8210_a1a_v1/hb_pa_afem8210_a1a_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8210_a2a_v1/hb_pa_afem8210_a2a_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8210_a2b_v1/hb_pa_afem8210_a2b_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8214_a2c_v1/hb_pa_afem8214_a2c_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8214_a3a_v1/hb_pa_afem8214_a3a_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8214_a3b_v1/hb_pa_afem8214_a3b_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8214_b1a_v1/hb_pa_afem8214_b1a_v1.dat</string>
				<string>/rfc/device_settings/hb_pa_afem8214_newton/hb_pa_afem8214_newton.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_dev1/hbtxdsm_mur_dev1.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_ds/hbtxdsm_mur_ds.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_evt/hbtxdsm_mur_evt.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_ffmlb/hbtxdsm_mur_ffmlb.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_p1/hbtxdsm_mur_p1.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_p1b/hbtxdsm_mur_p1b.dat</string>
				<string>/rfc/device_settings/hbtxdsm_mur_p2b/hbtxdsm_mur_p2b.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_dev1/hbtxdsm_sky_dev1.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_ds/hbtxdsm_sky_ds.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_evt/hbtxdsm_sky_evt.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_evt_x1994/hbtxdsm_sky_evt_x1994.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_p1/hbtxdsm_sky_p1.dat</string>
				<string>/rfc/device_settings/hbtxdsm_sky_p2/hbtxdsm_sky_p2.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_ds_g_mimo_dsm_l/hfqrxxbjb_ds_g_mimo_dsm_l.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_ds_g_mimo_dsm_u/hfqrxxbjb_ds_g_mimo_dsm_u.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_p1_mimo_dsm_l/hfqrxxbjb_p1_mimo_dsm_l.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_p1_mimo_dsm_u/hfqrxxbjb_p1_mimo_dsm_u.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_p1b_g_mimo_dsm_l/hfqrxxbjb_p1b_g_mimo_dsm_l.dat</string>
				<string>/rfc/device_settings/hfqrxxbjb_p1b_g_mimo_dsm_u/hfqrxxbjb_p1b_g_mimo_dsm_u.dat</string>
				<string>/rfc/device_settings/laa_fem_mdf135_es5_lat_v1/laa_fem_mdf135_es5_lat_v1.dat</string>
				<string>/rfc/device_settings/laa_fem_mdf135_es5_uat_v1/laa_fem_mdf135_es5_uat_v1.dat</string>
				<string>/rfc/device_settings/laa_fem_sky55504_13_lat_v1/laa_fem_sky55504_13_lat_v1.dat</string>
				<string>/rfc/device_settings/laa_fem_sky55504_13_uat_v1/laa_fem_sky55504_13_uat_v1.dat</string>
				<string>/rfc/device_settings/lat_murata_proto1_doe_coupler/lat_murata_proto1_doe_coupler.dat</string>
				<string>/rfc/device_settings/lat_swks_dev1_coupler_l/lat_swks_dev1_coupler_l.dat</string>
				<string>/rfc/device_settings/lat_swks_dev2_coupler_l/lat_swks_dev2_coupler_l.dat</string>
				<string>/rfc/device_settings/lat_swks_dev2p1_coupler_l/lat_swks_dev2p1_coupler_l.dat</string>
				<string>/rfc/device_settings/lat_swks_devds_coupler_l/lat_swks_devds_coupler_l.dat</string>
				<string>/rfc/device_settings/lat_swks_devds_coupler_l2/lat_swks_devds_coupler_l2.dat</string>
				<string>/rfc/device_settings/lbdsm_marauder_dev1_v1/lbdsm_marauder_dev1_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_marauder_dev2_v1/lbdsm_marauder_dev2_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_marauder_devds_v1/lbdsm_marauder_devds_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_marauder_proto1_v1/lbdsm_marauder_proto1_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_sky_dev1_v1/lbdsm_sky_dev1_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_sky_dev2_v1/lbdsm_sky_dev2_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_sky_devds_v1/lbdsm_sky_devds_v1.dat</string>
				<string>/rfc/device_settings/lbdsm_sky_proto1_v1/lbdsm_sky_proto1_v1.dat</string>
				<string>/rfc/device_settings/lbpad_sky_dev1_v1/lbpad_sky_dev1_v1.dat</string>
				<string>/rfc/device_settings/lbpad_sky_dev2_v1/lbpad_sky_dev2_v1.dat</string>
				<string>/rfc/device_settings/lbpad_sky_newton/lbpad_sky_newton.dat</string>
				<string>/rfc/device_settings/lbpad_sky_proto1_v1/lbpad_sky_proto1_v1.dat</string>
				<string>/rfc/device_settings/lbpad_sky_proto2_dp_v2/lbpad_sky_proto2_dp_v2.dat</string>
				<string>/rfc/device_settings/lbpad_sky_proto2_v1/lbpad_sky_proto2_v1.dat</string>
				<string>/rfc/device_settings/lbpad_sky_proto2_ww_v2/lbpad_sky_proto2_ww_v2.dat</string>
				<string>/rfc/device_settings/mimo_dsm_lat_sky_dev1/mimo_dsm_lat_sky_dev1.dat</string>
				<string>/rfc/device_settings/mimo_dsm_lat_sky_dev2/mimo_dsm_lat_sky_dev2.dat</string>
				<string>/rfc/device_settings/mimo_dsm_lat_sky_ds/mimo_dsm_lat_sky_ds.dat</string>
				<string>/rfc/device_settings/mimo_dsm_lat_sky_nc_dev2/mimo_dsm_lat_sky_nc_dev2.dat</string>
				<string>/rfc/device_settings/mimo_dsm_lat_sky_p1/mimo_dsm_lat_sky_p1.dat</string>
				<string>/rfc/device_settings/mimo_dsm_uat_sky_dev1/mimo_dsm_uat_sky_dev1.dat</string>
				<string>/rfc/device_settings/mimo_dsm_uat_sky_dev2/mimo_dsm_uat_sky_dev2.dat</string>
				<string>/rfc/device_settings/mimo_dsm_uat_sky_ds/mimo_dsm_uat_sky_ds.dat</string>
				<string>/rfc/device_settings/mimo_dsm_uat_sky_nc_dev2/mimo_dsm_uat_sky_nc_dev2.dat</string>
				<string>/rfc/device_settings/mimo_dsm_uat_sky_p1/mimo_dsm_uat_sky_p1.dat</string>
				<string>/rfc/device_settings/uat_murata_proto1_doe_coupler/uat_murata_proto1_doe_coupler.dat</string>
				<string>/rfc/device_settings/uat_swks_dev1_coupler_u/uat_swks_dev1_coupler_u.dat</string>
				<string>/rfc/device_settings/uat_swks_dev2_coupler_u/uat_swks_dev2_coupler_u.dat</string>
				<string>/rfc/device_settings/uat_swks_dev2p1_coupler_u/uat_swks_dev2p1_coupler_u.dat</string>
				<string>/rfc/device_settings/uat_swks_devds_coupler_u/uat_swks_devds_coupler_u.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_dev1/uhbdsm_brm_dev1.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_dev2/uhbdsm_brm_dev2.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_dev_ds/uhbdsm_brm_dev_ds.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_evt/uhbdsm_brm_evt.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_p1/uhbdsm_brm_p1.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_proto1a/uhbdsm_brm_proto1a.dat</string>
				<string>/rfc/device_settings/uhbdsm_brm_proto1b/uhbdsm_brm_proto1b.dat</string>
				<string>/rfc/device_settings/uhbdsm_qor_dev1/uhbdsm_qor_dev1.dat</string>
				<string>/rfc/device_settings/uhbdsm_qor_dev2/uhbdsm_qor_dev2.dat</string>
				<string>/rfc/device_settings/uhbdsm_qor_ds/uhbdsm_qor_ds.dat</string>
				<string>/rfc/device_settings/uhbdsm_qor_p1/uhbdsm_qor_p1.dat</string>
				<string>/rfc/device_settings/uhbdsm_qor_proto1/uhbdsm_qor_proto1.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_dev1/uhbdsm_sky_dev1.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_dev2/uhbdsm_sky_dev2.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_p1/uhbdsm_sky_p1.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_proto1a/uhbdsm_sky_proto1a.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_proto1b/uhbdsm_sky_proto1b.dat</string>
				<string>/rfc/device_settings/uhbdsm_sky_proto2/uhbdsm_sky_proto2.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_a6a/uhbpad_brm_a6a.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_a6b/uhbpad_brm_a6b.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_dev1/uhbpad_brm_dev1.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_dev2/uhbpad_brm_dev2.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_p1/uhbpad_brm_p1.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_proto1a/uhbpad_brm_proto1a.dat</string>
				<string>/rfc/device_settings/uhbpad_brm_proto1b/uhbpad_brm_proto1b.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_dev1/uhbpad_qor_dev1.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_dev2/uhbpad_qor_dev2.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_ds/uhbpad_qor_ds.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_ds_j/uhbpad_qor_ds_j.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_evt/uhbpad_qor_evt.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_evt_j/uhbpad_qor_evt_j.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_p1/uhbpad_qor_p1.dat</string>
				<string>/rfc/device_settings/uhbpad_qor_proto1/uhbpad_qor_proto1.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_dev1/uhbpad_sky_dev1.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_dev2/uhbpad_sky_dev2.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_ds/uhbpad_sky_ds.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_evt/uhbpad_sky_evt.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_evtdr/uhbpad_sky_evtdr.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_p1/uhbpad_sky_p1.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_proto1/uhbpad_sky_proto1.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_proto1b/uhbpad_sky_proto1b.dat</string>
				<string>/rfc/device_settings/uhbpad_sky_proto2b/uhbpad_sky_proto2b.dat</string>
			</array>
			<key>metadata</key>
			<dict>
				<key>credits</key>
				<array>
					<string>rickmark</string>
				</array>
				<key>description</key>
				<string>Data on the Qualcomm X55 (Mav21) baseband</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
