<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constants</key>
	<dict>
		<key>apple_id</key>
		<integer>19456</integer>
	</dict>
	<key>low_energy</key>
	<array>
		<dict>
			<key>description</key>
			<string>iBeacon Advertisement Data</string>
			<key>subtype</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>uuids</key>
	<dict>
		<key>0x110A</key>
		<dict>
			<key>descritpion</key>
			<string>A2DP source (sender)</string>
		</dict>
		<key>0x110B</key>
		<dict>
			<key>description</key>
			<string>A2DP sink (receiver)</string>
		</dict>
		<key>0x1800</key>
		<dict>
			<key>description</key>
			<string>Generic Access Profile</string>
		</dict>
		<key>0x1801</key>
		<dict>
			<key>description</key>
			<string>Generic Attribute Profile</string>
		</dict>
		<key>0x1804</key>
		<dict>
			<key>description</key>
			<string>Tx Power</string>
		</dict>
		<key>0x1805</key>
		<dict>
			<key>description</key>
			<string>Current Time</string>
		</dict>
		<key>0x180A</key>
		<dict>
			<key>description</key>
			<string>Device Information</string>
		</dict>
		<key>0x180F</key>
		<dict>
			<key>description</key>
			<string>Battery</string>
		</dict>
		<key>0xFD43</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFD44</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFD6F</key>
		<dict>
			<key>description</key>
			<string>Exposure Notifications Service</string>
		</dict>
		<key>0xFE13</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFE25</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFE8A</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFE8B</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFEC7</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFEC8</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFEC9</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECA</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECB</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECC</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECD</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECE</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFECF</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFED0</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFED1</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFED2</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFED3</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>0xFED4</key>
		<dict>
			<key>description</key>
			<string>Apple (Unknown)</string>
		</dict>
		<key>7798082B-B7B7-45A6-9DED-F6B6C4551967</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>7905F431-B5CE-4E99-A40F-4B1E122D00D0</key>
		<dict>
			<key>description</key>
			<string>Apple Notification Service (Voice &amp; SMS)</string>
		</dict>
		<key>87290102-3C51-43B1-A1A9-11B9DC38478B</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>89D3502B-0F36-433A-8EF4-C502AD55F8DC</key>
		<dict>
			<key>description</key>
			<string>Apple Media Service</string>
		</dict>
		<key>9BD708D7-64C7-4E9F-9DED-F6B6C4551967</key>
		<dict>
			<key>description</key>
			<string>AirPods Specific</string>
		</dict>
		<key>9FA480E0-4967-4542-9390-D343DC5D04AE</key>
		<dict>
			<key>description</key>
			<string>Apple Nearby Service</string>
		</dict>
		<key>D0611E78-BBB4-4591-A5F8-487910AE4366</key>
		<dict>
			<key>description</key>
			<string>Continuity</string>
		</dict>
	</dict>
</dict>
</plist>
