<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local_properties</key>
	<dict>
		<key>AppleInternal</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BootSessionUUID</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BridgeVersion</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BuildVersion</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>CPUArchitecture</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>CertificateProductionStatus</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>CertificateSecurityMode</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DeviceClass</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DeviceColor</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DeviceEnclosureColor</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DeviceSupportsLockdown</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>EffectiveProductionStatusAp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>EffectiveProductionStatusSEP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>EffectiveSecurityModeAp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>EffectiveSecurityModeSEP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>HWModel</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>HasSEP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>Image4Supported</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IsUIBuild</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>OSInstallEnvironment</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>OSVersion</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ProductName</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ProductType</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>RemoteXPCVersionFlags</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SecurityDomain</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SensitivePropertiesVisible</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SerialNumber</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SigningFuse</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>UniqueChipID</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>UniqueDeviceID</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
	</dict>
	<key>local_services</key>
	<dict>
		<key>com.apple.CSCSupportd</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.corecaptured.remoteservice</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.mobile.notification_proxy.remote</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.mobile.storage_mounter_proxy.bridge</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.osanalytics.logRelay</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.remote.installcoordination_proxy</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.sysdiagnose.remote</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>om.apple.mobile.storage_mounter_proxy.bridge.macOS</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>remote_properties</key>
	<dict>
		<key>AppleInternal</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>BoardId</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>BoardRevision</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>BootSessionUUID</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>BridgeVersion</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>BuildVersion</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>CPUArchitecture</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>CertificateProductionStatus</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>CertificateSecurityMode</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>ChipID</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>DeviceClass</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>DeviceColor</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>DeviceEnclosureColor</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>DeviceSupportsLockdown</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>EffectiveProductionStatusAp</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>EffectiveProductionStatusSEP</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>EffectiveSecurityModeAp</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>EffectiveSecurityModeSEP</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>HWModel</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>HardwarePlatform</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>HasSEP</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>Image4CryptoHashMethod</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>Image4Supported</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>InterfaceIndex</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>IsUIBuild</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>LocationID</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>MobileDeviceMinimumVersion</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>ModelNumber</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>OSInstallEnvironment</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>OSVersion</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>ProductName</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>ProductType</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>RegionInfo</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>RemoteXPCVersionFlags</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>SecurityDomain</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>SensitivePropertiesVisible</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>SerialNumber</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>SigningFuse</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>UniqueChipID</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>UniqueDeviceID</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>remote_services</key>
	<dict>
		<key>com.apple.CoreKDL.remoteXPC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>com.apple.RestoreRemoteServices.restoreserviced</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>2</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<key>com.apple.TrustedAccessoryController</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.aveservice</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.bridgeOSUpdated</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.corecaptured.remoteservice</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.corespeech.xpc.remote.control</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.corespeech.xpc.remote.record</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.eos.BiometricKit</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.eos.LASecureIO</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>com.apple.icloud.findmydeviced.bridge</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>1</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<key>com.apple.internal.xpc.remote.kext_audit</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.lskdd</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>com.apple.mobileactivationd.bridge</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>1</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<key>com.apple.multiverse.remote.bridgetime</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>com.apple.nfcd.relay.control</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesBridgeXPC</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.nfcd.relay.uart</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesBridgeXPC</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.osanalytics.logTransfer</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.powerchime.remote</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.private.avvc.xpc.remote</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.recoverylogd.bridge</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>1</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<key>com.apple.sysdiagnose.remote</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.sysdiagnose.stackshot.remote</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.videoprocessingd.encode.remote</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.xpc.remote.mobile_obliteration</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.xpc.remote.multiboot</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
