<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auto_sort</key>
	<false/>
	<key>credits</key>
	<array>
		<string>rickmark</string>
		<string>gemini</string>
		<string>https://safecurves.cr.yp.to</string>
		<string>https://wikipedia.org</string>
	</array>
	<key>see_also</key>
	<array>
		<string>curves</string>
		<string>keys</string>
		<string>pki</string>
	</array>
</dict>
</plist>
