<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kdp_match_name</key>
	<dict>
		<key>en#</key>
		<dict>
			<key>description</key>
			<string>Template for any supported network based protocol</string>
		</dict>
		<key>firewire</key>
		<dict>
			<key>description</key>
			<string>Serial debug across a classical firewire (or TBT to Firewire adapter)</string>
		</dict>
		<key>mojo1</key>
		<dict>
			<key>description</key>
			<string>Mojo1 - internal serial debug protocol</string>
		</dict>
		<key>mojo2</key>
		<dict>
			<key>description</key>
			<string>Mojo2 - internal serial debug protocol</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
