<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
		<array>
			<string>rickmark</string>
		</array>
		<key>description</key>
		<string>Device tree schema entries</string>
	</dict>
	<key>nodes</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
	<data>
	BAgw
	</data>
</dict>
</plist>
