<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fdr_properties</key>
	<dict>
		<key>AlsH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BMac</key>
		<dict>
			<key>description</key>
			<string>Bluetooth MAC Address</string>
		</dict>
		<key>BORD</key>
		<dict>
			<key>description</key>
			<string>Board ID</string>
		</dict>
		<key>CmCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>FSCl</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>GpC2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>HmCA</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>HmCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IfCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>NvMR</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SDOM</key>
		<dict>
			<key>description</key>
			<string>Security Domain</string>
		</dict>
		<key>ShMC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ShSC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SrNm</key>
		<dict>
			<key>description</key>
			<string>Serial Number</string>
		</dict>
		<key>WMac</key>
		<dict>
			<key>description</key>
			<string>Wireless MAC Address</string>
		</dict>
		<key>appv</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>arc#</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>bbcl</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>bbpc</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>bbpv</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>dCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>dcrt</key>
		<dict>
			<key>description</key>
			<string>bputil certificate from BAA Certification / Basic Attestation User Sub CA2 seems related to &quot;key recovery assistant&quot; as this is device level so for all iCloud users (KeyRecoveryAssistant_dcrt_baa_request/response)</string>
		</dict>
		<key>drp#</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eeid</key>
		<dict>
			<key>description</key>
			<string>eSIM Embedded ID (EID)</string>
		</dict>
		<key>fCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hop0</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ime2</key>
		<dict>
			<key>description</key>
			<string>International Mobile Equipment Identifier 2</string>
		</dict>
		<key>imei</key>
		<dict>
			<key>description</key>
			<string>International Mobile Equipment Identifier</string>
		</dict>
		<key>jlex</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlin</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlpq</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlps</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlsk</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lcrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>meid</key>
		<dict>
			<key>description</key>
			<string>Mobile Equipment Identifier (CMDA)</string>
		</dict>
		<key>mlb#</key>
		<dict>
			<key>description</key>
			<string>Main Logic Board Serial Number</string>
		</dict>
		<key>nuid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pbas</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcic</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcii</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcvc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcve</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcvi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pdcl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pmpc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>prf1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>prf2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psd1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psd2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psnv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pspc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pwcl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rMCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rSCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>scrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>seal</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>seid</key>
		<dict>
			<key>description</key>
			<string>Secure Element ID (for NFC / Payments)</string>
		</dict>
		<key>tCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tsid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>vcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
