<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fdr_modes</key>
	<dict>
		<key>base</key>
		<dict>
			<key>description</key>
			<string>Objects for the device directly, indicates no factory process or mode in use.</string>
		</dict>
		<key>mandev</key>
		<dict>
			<key>description</key>
			<string>The &quot;Managed Device&quot;, or the device attached to the `mansta` to be configured or tested at a factory</string>
		</dict>
		<key>mansta</key>
		<dict>
			<key>description</key>
			<string>The &quot;Management Station&quot;, or factory station being used to configure a device at an Apple factory using factory tooling and images</string>
		</dict>
	</dict>
	<key>fdr_objects</key>
	<dict>
		<key>ADCL</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>FSCl</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>HmCA</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>NvMR</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>appv</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>dCfg</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>eCfg</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>fCfg</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>hop0</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>lcrt</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>pcrt</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>scrt</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>sePk</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>seal</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>trst</key>
		<dict>
			<key>description</key>
			<string>The trust object establishes the signing root for FDR objects, the SSL CA for connections to FDR, the set of revoked keys, as well as trusted public keys</string>
		</dict>
	</dict>
	<key>fdr_properties</key>
	<dict>
		<key>ADCL</key>
		<dict>
			<key>description</key>
			<string>Raw Panel / Coverglass</string>
		</dict>
		<key>AlsH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BMac</key>
		<dict>
			<key>description</key>
			<string>Bluetooth MAC Address</string>
		</dict>
		<key>BORD</key>
		<dict>
			<key>description</key>
			<string>Board ID</string>
		</dict>
		<key>CmCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>FSCl</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>data</key>
			<dict>
				<key>comb</key>
				<dict>
					<key>fdrd</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
					<data>
					BAgw
					</data>
					<key>secb</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
					<data>
					BAgw
					</data>
				</dict>
			</dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>GpC2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>HmCA</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
			<string>Ambient Light Sensor</string>
		</dict>
		<key>HmCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IM4C</key>
		<dict>
			<key>description</key>
			<string>Img4 Certificate</string>
		</dict>
		<key>IfCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>NvMR</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SDOM</key>
		<dict>
			<key>description</key>
			<string>Security Domain</string>
		</dict>
		<key>ShMC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ShSC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SrNm</key>
		<dict>
			<key>description</key>
			<string>Serial Number</string>
		</dict>
		<key>WMac</key>
		<dict>
			<key>description</key>
			<string>Wireless MAC Address</string>
		</dict>
		<key>appv</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>arc#</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>bbcl</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>bbpc</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>bbpv</key>
		<dict>
			<key>description</key>
			<string>Baseband</string>
		</dict>
		<key>comb</key>
		<dict>
			<key>description</key>
			<string>Combined FDR object</string>
		</dict>
		<key>dCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>dcrt</key>
		<dict>
			<key>description</key>
			<string>bputil certificate from BAA Certification / Basic Attestation User Sub CA2 seems related to &quot;key recovery assistant&quot; as this is device level so for all iCloud users (KeyRecoveryAssistant_dcrt_baa_request/response)</string>
		</dict>
		<key>drp#</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eeid</key>
		<dict>
			<key>description</key>
			<string>eSIM Embedded ID (EID)</string>
		</dict>
		<key>esdm</key>
		<dict>
			<key>description</key>
			<string>Effective Security Domain Mode</string>
		</dict>
		<key>fCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>fdr2</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>fdrd</key>
		<dict>
			<key>description</key>
			<string>FDR2 Data</string>
		</dict>
		<key>hop0</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mandev</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ime2</key>
		<dict>
			<key>description</key>
			<string>International Mobile Equipment Identifier 2</string>
		</dict>
		<key>imei</key>
		<dict>
			<key>description</key>
			<string>International Mobile Equipment Identifier</string>
		</dict>
		<key>jlex</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlin</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlnv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlpq</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlps</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>jlsk</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lcrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>meid</key>
		<dict>
			<key>title</key>
			<string>Mobile Equipment Identifier (CMDA)</string>
		</dict>
		<key>mft2</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>mlb#</key>
		<dict>
			<key>title</key>
			<string>Main Logic Board Serial Number</string>
		</dict>
		<key>mmap</key>
		<dict>
			<key>description</key>
			<string>The memory map passed from the iBoot loader to the Kernel</string>
			<key>title</key>
			<string>Memory Map</string>
		</dict>
		<key>nuid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pbas</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcic</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcii</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcvc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcve</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcvi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pdcl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pmpc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>prf1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>prf2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psd1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psd2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>psnv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pspc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pwcl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rMCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rSCl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rssl</key>
		<dict>
			<key>description</key>
			<string>Root SSL / TLS certificate</string>
			<key>title</key>
			<string>Recovery SSL</string>
		</dict>
		<key>rvok</key>
		<dict>
			<key>description</key>
			<string>FDR trust object list of revoked certificates / public keys</string>
			<key>title</key>
			<string>Revocation List</string>
		</dict>
		<key>scrt</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
			<string>SEP Certificate</string>
		</dict>
		<key>sePK</key>
		<dict>
			<key>description</key>
			<string>Point Compressed Elliptic Curve point sering as the master Public Key for the SE</string>
		</dict>
		<key>seal</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>base</string>
			</array>
			<key>description</key>
			<string>Used to provide a cryptographic seal of the data that is restored to the device via FDR to prevent tampering with said data.</string>
			<key>title</key>
			<string>FDR Sealing Object</string>
		</dict>
		<key>secb</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>seid</key>
		<dict>
			<key>description</key>
			<string>Secure Element ID (for NFC / Payments)</string>
		</dict>
		<key>sreq</key>
		<dict>
			<key>description</key>
			<string>Sealing request</string>
		</dict>
		<key>tCfg</key>
		<dict>
			<key>contexts</key>
			<array>
				<string>mansta</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>trpk</key>
		<dict>
			<key>description</key>
			<string>Trusted Public Key</string>
			<key>title</key>
			<string>Trusted Public Keys</string>
		</dict>
		<key>trst</key>
		<dict>
			<key>description</key>
			<string>The various data required to connect to FDR, includes the remote SSL root, revocation list, and trusted public keys</string>
			<key>title</key>
			<string>Trust Object</string>
		</dict>
		<key>tsid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>vcrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>collections</key>
		<array>
			<string>fdr_properties</string>
		</array>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>to_be_signed_keys</key>
	<dict>
		<key>DGST</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>clid</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>inst</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
