<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<string>saveenv</string>
		<string>setenv</string>
		<string>getenv</string>
		<string>reset</string>
		<string>reboot</string>
		<string>setenvnp</string>
		<string>clearenvp</string>
		<string>alamo</string>
		<string>rtos</string>
		<string>diags</string>
		<string>fsboot</string>
		<string>upgrade</string>
		<string>recover</string>
		<string>recover-once</string>
	</array>
	<key>environment_vars</key>
	<array>
		<string>auto-boot</string>
		<string>boot-args</string>
		<string>debug-uarts</string>
		<string>filesize</string>
		<string>pw-path</string>
		<string>auto-boot</string>
		<string>backlight-level</string>
		<string>boot-command</string>
		<string>com.apple.System.boot-nonce</string>
		<string>device-material</string>
		<string>display-rotation</string>
		<string>display-vsh-comp</string>
		<string>idle-off</string>
		<string>is-tethered</string>
		<string>darkboot</string>
		<string>ota-breadcrumbs</string>
		<string>boot-breadcrumbs</string>
		<string>recovery-breadcrumbs</string>
		<string>com.apple.System.tz0-size</string>
		<string>com.apple.System.rtc-offset</string>
		<string>pwr-path</string>
		<string>upgrade-retry</string>
		<string>preserve-debuggability</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>obfuscated_hashes</key>
	<dict>
		<key>1007006693226865882</key>
		<string>platform/t8020/dcs_v2/dcs_misc.c</string>
		<key>1016647493242068094</key>
		<string>platform/t8020/reconfig.c</string>
		<key>1020143034621568339</key>
		<string>lib/enc/enc.c</string>
		<key>1021378034834855350</key>
		<string>drivers/apple/dart_v1/dart.c</string>
		<key>1029654400832507291</key>
		<string>drivers/apple/mailbox/mailbox64/mailbox64.c</string>
		<key>1031756677793123950</key>
		<string>lib/power/power.c</string>
		<key>1061455936768864074</key>
		<string>drivers/apple/mailbox/mailbox64.c</string>
		<key>1062966391386713521</key>
		<string>drivers/apple/dcs_v2/dcs.c</string>
		<key>1078734404411208575</key>
		<string>lib/rtbuddy_fs/rtkit_macho.c</string>
		<key>1080661105843249925</key>
		<string>lib/libc/misc.c</string>
		<key>1083504090439545272</key>
		<string>lib/blockdev/blockdev.c</string>
		<key>1100221367319980790</key>
		<string>lib/huffman/huffman.c</string>
		<key>1126834423361578506</key>
		<string>lib/mib/mib.c</string>
		<key>1138901756230437902</key>
		<string>target/iphone11/init.c</string>
		<key>116703209509058498</key>
		<string>lib/nvram/nvram.c</string>
		<key>118809346283974020</key>
		<string>lib/rtbuddy/rtkit_firmware.c</string>
		<key>131884603733767052</key>
		<string>platform/generic/platform_dep.c</string>
		<key>203499993999720670</key>
		<string>lib/rtbuddy/endpoints/syslog_ep.c</string>
		<key>206948983655456595</key>
		<string>platform/t8015/pmgr/pmgr.c</string>
		<key>214573715536090585</key>
		<string>lib/paniclog/paniclog.c</string>
		<key>217832313602750836</key>
		<string>lib/devicetree/devicetree.c</string>
		<key>221101432871554270</key>
		<string>lib/fs/fs.c</string>
		<key>225323951240254439</key>
		<string>lib/rtbuddy/endpoints/ioreporting_ep.c</string>
		<key>231838851157100267</key>
		<string>drivers/usb/usb_core.c</string>
		<key>237233797153020614</key>
		<string>lib/nonce/nonce.c</string>
		<key>246770858393410496</key>
		<string>platform/t8015/dcs_v2/dcs_calibration.c</string>
		<key>253101229148830685</key>
		<string>sys/hash.c</string>
		<key>25629712044137433</key>
		<string>arch/arm64/cpu.c</string>
		<key>258759054623776163</key>
		<string>apps/iBoot/main.c</string>
		<key>261964788685987884</key>
		<string>drivers/als_eeprom/als_gen_eeprom/als_gen_eeprom.c</string>
		<key>277235011926387907</key>
		<string>lib/rtbuddy_fs/rtbuddy_fs_firmware.c</string>
		<key>279165414112761933</key>
		<string>lib/heap/heap.c</string>
		<key>342313556134831108</key>
		<string>platform/t8020/chipid/chipid.c</string>
		<key>376107085860357171</key>
		<string>drivers/apple/aes_v2/aes_v2.c</string>
		<key>384888342139357316</key>
		<string>lib/sys/lock.c</string>
		<key>388382159905852296</key>
		<string>lib/slice/slice.c</string>
		<key>424748870674377822</key>
		<string>drivers/apple/prc/prc_v2.c</string>
		<key>428332935327745454</key>
		<string>lib/trustcache/trustcache.c</string>
		<key>431000434292740227</key>
		<string>drivers/synopsys/usbotg/synopsys_otg.c</string>
		<key>441416286880372842</key>
		<string>lib/sepfw/sepfirmware.c</string>
		<key>442180569929589760</key>
		<string>lib/fs/apfs/apfs_io.c</string>
		<key>443480543225836852</key>
		<string>drivers/pci/pci.c</string>
		<key>452448320049055811</key>
		<string>sys/boot.c</string>
		<key>45546403955607489</key>
		<string>drivers/usb/usb_controller.c</string>
		<key>479322956450577775</key>
		<string>lib/devicetree/devicetree_load.c</string>
		<key>506421429845671966</key>
		<string>lib/libc/printf_chk.c</string>
		<key>518225565324593993</key>
		<string>drivers/apple/sart/sart.c</string>
		<key>542878019515365725</key>
		<string>lib/blockdev/subdev.c</string>
		<key>546100299647860056</key>
		<string>platform/t8015/miu/miu.c</string>
		<key>552694572847392386</key>
		<string>apps/iBoot/boot.c</string>
		<key>556850132502530458</key>
		<string>drivers/apple/aic/aic.c</string>
		<key>56584004980503413</key>
		<string>drivers/apple/apcie/apcie.c</string>
		<key>572113744337196175</key>
		<string>lib/rtbuddy/endpoints/management_ep.c</string>
		<key>582908062290540084</key>
		<string>lib/blockdev/mem_blockdev.c</string>
		<key>594174880721832199</key>
		<string>lib/random/random.c</string>
		<key>618355212138294485</key>
		<string>lib/macho/dt.c</string>
		<key>636132609100191252</key>
		<string>lib/rtbuddy/rtbuddy.c</string>
		<key>646391848013937106</key>
		<string>drivers/apple/dockchannel/dockchannel_uart.c</string>
		<key>657924575354898147</key>
		<string>platform/t8020/dcs_v2/dcs_calibration_t8020.c</string>
		<key>696789832896414173</key>
		<string>drivers/apple/mailbox/mailbox128/mailbox128.c</string>
		<key>710858739606010797</key>
		<string>lib/handoff/handoff.c</string>
		<key>72983202559590267</key>
		<string>drivers/display_eeprom/gen_eeprom/gen_eeprom.c</string>
		<key>736955654476733630</key>
		<string>lib/image/image4/image4_wrapper.c</string>
		<key>737647435414005801</key>
		<string>drivers/apple/smc/smc.c</string>
		<key>748225236487733261</key>
		<string>drivers/apple/sep/sep_client.c</string>
		<key>756533788410305276</key>
		<string>drivers/apple/dart_v3/dart.c</string>
		<key>766123721742739426</key>
		<string>drivers/apple/adisp/adisp_control.c</string>
		<key>780397044702300026</key>
		<string>lib/image/image4/image4_partial.c</string>
		<key>783183360151269948</key>
		<string>target/iphone10/init.c</string>
		<key>79396516430377403</key>
		<string>drivers/apple/ans2/ans2.c</string>
		<key>804654363780839318</key>
		<string>drivers/apple/gpio/gpio.c</string>
		<key>806714195927799682</key>
		<string>drivers/apple/reconfig/reconfig.c</string>
		<key>807409280459989434</key>
		<string>platform/generic/platform_indep.c</string>
		<key>807878884511385002</key>
		<string>drivers/apple/mailbox/mailbox128.c</string>
		<key>809637393175934523</key>
		<string>drivers/apple/ccc/ccc.c</string>
		<key>814797970244609606</key>
		<string>arch/arm64/mmu.c</string>
		<key>853641458174228670</key>
		<string>sys/security.c</string>
		<key>85548793333560714</key>
		<string>lib/himem/himem.c</string>
		<key>880199917523682515</key>
		<string>sys/supervisor.c</string>
		<key>881571642300266752</key>
		<string>drivers/synopsys/mipi/dsim.c</string>
		<key>901343020544091024</key>
		<string>lib/macho/macho.c</string>
		<key>915733243234583911</key>
		<string>arch/arm64/task.c</string>
		<key>934972440173490195</key>
		<string>drivers/apple/asmi/asmi.c</string>
		<key>952625420311608715</key>
		<string>sys/task.c</string>
		<key>959454019359558990</key>
		<string>drivers/apple/a7iop/a7iop.c</string>
		<key>965147648874319929</key>
		<string>drivers/nvme/nvme.c</string>
		<key>968261168088229629</key>
		<string>lib/paint/paint.c</string>
		<key>968597552906010290</key>
		<string>drivers/usbphy/usbphy.c</string>
		<key>994867816063525027</key>
		<string>lib/macho/kernelcache.c</string>
	</dict>
	<key>tasks</key>
	<array>
		<string>main</string>
		<string>poweroff</string>
		<string>command</string>
		<string>idleoff</string>
		<string>usb req</string>
		<string>usb-high-current</string>
		<string>usb-no-current</string>
		<string>usb</string>
		<string>usb_serial</string>
	</array>
</dict>
</plist>
