<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img4_tags</key>
	<dict>
		<key>AMNM</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BLDS</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BNCH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BNCN</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>BORD</key>
		<dict>
			<key>description</key>
			<string>The board the chip is attached to.  With iPhones/iPads this is the variation between device sizes (occasionally
also used for low cost devices like the SE/XR).

With the T2 this value is unique to all MacBooks with the T2</string>
		</dict>
		<key>CEPO</key>
		<dict>
			<key>description</key>
			<string>Certificate Epoch.  This is a unit of roll-forward time (monotonic) that allows for any security issues
in the prior epoch to be fixed by a anti-rollback scheme.</string>
		</dict>
		<key>CHIP</key>
		<dict>
			<key>description</key>
			<string>Unique identifier for a single Apple designed application processor sharing the same GID key</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<key>CHMH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>CPRO</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>CSEC</key>
		<dict>
			<key>description</key>
			<string>Burned-in chip security mode</string>
		</dict>
		<key>DGST</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DPRO</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>DSEC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ECID</key>
		<dict>
			<key>description</key>
			<string>Exclusive chip identifier.  This is burned into an eFuse at time of manufacture and unique across all devices sharing the same CHIP</string>
			<key>width</key>
			<integer>8</integer>
		</dict>
		<key>EKEY</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>EPRO</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ESEC</key>
		<dict>
			<key>description</key>
			<string>Effective security mode</string>
		</dict>
		<key>IM4M</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IM4P</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IM4R</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>IMG4</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>LLB</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>LNCH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>MANB</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>MANP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>OBJP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>PAYP</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>RNCH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>RSCH</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SDOM</key>
		<dict>
			<key>description</key>
			<string>Security domain, or which set of certificates govern device security.

Known values:
  0x01 - Main Production certificates</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<key>SECM</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>SNON</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>acfw</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ache</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>acib</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>aciw</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ader</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>agfi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>almo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>anef</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>anrd</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>aofi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>aopf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>apmv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ater</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>atkh</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>auac</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>aubt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>augs</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>aupr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>auxi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>auxk</key>
		<dict>
			<key>description</key>
			<string>Auxilary Kernel Cache</string>
		</dict>
		<key>auxp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>auxr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>avef</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>bat0</key>
		<dict>
			<key>description</key>
			<string>battery image 0</string>
		</dict>
		<key>bat1</key>
		<dict>
			<key>description</key>
			<string>battery image 1</string>
		</dict>
		<key>batf</key>
		<dict>
			<key>description</key>
			<string>battery full image</string>
		</dict>
		<key>bles</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>bstc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>bsys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>cfel</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>chg0</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>chg1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>cker</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ckih</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>cmsv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>coih</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>csys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>dali</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>data</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>diag</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>disk</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>dtre</key>
		<dict>
			<key>description</key>
			<string>device tree</string>
		</dict>
		<key>dtrs</key>
		<dict>
			<key>description</key>
			<string>device tree for recovery</string>
		</dict>
		<key>efib</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg0n</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg0t</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg1n</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg1t</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg3n</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>eg3t</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>esca</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>esdm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>euou</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>fdrs</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>fdrt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>file</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>fpgt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ftap</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ftot</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ftsp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>fuos</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>gfxf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ging</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>glyc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>glyp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hash</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hclo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hime</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hmmr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>homr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hrlp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>hypr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ienv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ipdf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>isor</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ispf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>isys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>itst</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iuob</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iuos</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>iuou</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>kdlv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>krnl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>kuid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lamo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lckr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lobo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>logo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>love</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lphp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>lpnh</key>
		<dict>
			<key>description</key>
			<string>LocalPolicy nonce hash</string>
		</dict>
		<key>lpol</key>
		<dict>
			<key>descrioption</key>
			<string>LocalPolicy</string>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ltrs</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>magg</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>manx</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mefi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ment</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mmap</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mmer</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mmsv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mpro</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>msec</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>msys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>mtfw</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>name</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>nrde</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>nsih</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>nsrv</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>omer</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ooth</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>osev</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>osrd</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>otes</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>owns</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pcrp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pdmg</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pert</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pfle</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pflp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>phlt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pmpf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>pndp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>prot</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rbmt</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rddg</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rdsk</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rdtr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>recm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rfta</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rfts</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rkrn</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rlgo</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rolp</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ronh</key>
		<dict>
			<key>description</key>
			<string>recoveryOS nonce hash</string>
		</dict>
		<key>rosi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rpnh</key>
		<dict>
			<key>description</key>
			<string>RemotePolicy nonce hash</string>
		</dict>
		<key>rsep</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rso0</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rso1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rso2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rso3</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rtpf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>rtsc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>scef</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>seid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sepi</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sika</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>siof</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sip0</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sip1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sip2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>sip3</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>slvn</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>smb0</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>smb1</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>smb2</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>smb3</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>smb4</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>snon</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>snuf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>srnm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ster</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>svrn</key>
		<dict>
			<key>description</key>
			<string>Server nonce</string>
		</dict>
		<key>tbmr</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tbms</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tery</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>test</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tics</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>trst</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>tsys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>type</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ucer</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ucon</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>udid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>uidm</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>vice</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>vkdl</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>vuid</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>ware</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>wchf</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>xbtc</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>xsys</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>xugs</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
