<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>platforms</key>
	<dict>
		<key>audioOS</key>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
		</dict>
		<key>bridgeOS</key>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
		</dict>
		<key>iOS</key>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv6</string>
				<string>armv7</string>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
		</dict>
		<key>macOS</key>
		<dict>
			<key>archetectures</key>
			<array>
				<string>ppc</string>
				<string>ppc64</string>
				<string>x86</string>
				<string>x86_64</string>
				<string>x86_64h</string>
			</array>
		</dict>
		<key>padOS</key>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
		</dict>
		<key>tvOS</key>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86</string>
				<string>armv7</string>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
