<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>csr_flags</key>
	<dict>
		<key>CSR_ALLOW_ANY_RECOVERY_OS</key>
		<dict>
			<key>always_enforced</key>
			<true/>
			<key>description</key>
			<string>disable validation of BaseSystem.dmg by ignoring BaseSystem.chunklist</string>
			<key>value</key>
			<integer>256</integer>
		</dict>
		<key>CSR_ALLOW_APPLE_INTERNAL</key>
		<dict>
			<key>description</key>
			<string>Allows for AppleInternal (non-production signed code)</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>16</integer>
		</dict>
		<key>CSR_ALLOW_DEVICE_CONFIGURATION</key>
		<dict>
			<key>always_enforced</key>
			<true/>
			<key>description</key>
			<string>This indicates that the device is booted into a mode whereby `bputil` will allow changes</string>
			<key>value</key>
			<integer>128</integer>
		</dict>
		<key>CSR_ALLOW_EXECUTABLE_POLICY_OVERRIDE</key>
		<dict>
			<key>description</key>
			<string>override trust-cache or executable policy</string>
			<key>value</key>
			<integer>1024</integer>
		</dict>
		<key>CSR_ALLOW_KERNEL_DEBUGGER</key>
		<dict>
			<key>description</key>
			<string>allow using the kernel debugger (KDP) - requires configuring the kernel debugger via boot-args</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>8</integer>
		</dict>
		<key>CSR_ALLOW_TASK_FOR_PID</key>
		<dict>
			<key>description</key>
			<string>allow getting the pid task, required for privileged debugging</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<key>CSR_ALLOW_UNAPPROVED_KEXTS</key>
		<dict>
			<key>description</key>
			<string>do not require kext approval (managed in the T2 when it exists)</string>
			<key>value</key>
			<integer>512</integer>
		</dict>
		<key>CSR_ALLOW_UNAUTHENTICATED_ROOT</key>
		<dict>
			<key>description</key>
			<string>Permits the root filesystem to lack SSV (signed system volume) protection</string>
			<key>value</key>
			<integer>2048</integer>
		</dict>
		<key>CSR_ALLOW_UNRESTRICTED_DTRACE</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>CSR_ALLOW_DESTRUCTIVE_DTRACE</string>
			</array>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>32</integer>
		</dict>
		<key>CSR_ALLOW_UNRESTRICTED_FS</key>
		<dict>
			<key>description</key>
			<string>disable SIP protections of various paths (such as write protection of /System)</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<key>CSR_ALLOW_UNRESTRICTED_NVRAM</key>
		<dict>
			<key>description</key>
			<string>disable restrictions to writing to restricted NVRAM variables</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>64</integer>
		</dict>
		<key>CSR_ALLOW_UNTRUSTED_KEXTS</key>
		<dict>
			<key>description</key>
			<string>allow loading kernel extensions that are not signed</string>
			<key>disable_default</key>
			<true/>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>csr_process_capabilities</key>
	<dict>
		<key>CSR_CAPABILITY_APPLE_INTERNAL</key>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<key>CSR_CAPABILITY_CONFIG</key>
		<dict>
			<key>descrption</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<key>CSR_CAPABILITY_UNLIMITED</key>
		<dict>
			<key>description</key>
			<string>process is not restricted by SIP and may bypass</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>csrutil</key>
	<dict>
		<key>commands</key>
		<dict>
			<key>authenticated-root</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>disable</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>enable</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>netboot</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>report</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>status</key>
			<dict>
				<key>description</key>
				<string>Shows</string>
			</dict>
			<key>verify-factory-sip</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>flags</key>
		<dict>
			<key>--no-internal</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>--with</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>--without</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
		</dict>
		<key>options</key>
		<dict>
			<key>basesystem</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_ANY_RECOVERY_OS</string>
				<key>name</key>
				<string>BaseSystem Verification</string>
			</dict>
			<key>debug</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_KERNEL_DEBUGGER</string>
				<key>name</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
				<data>
				BAgw
				</data>
			</dict>
			<key>dtrace</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_UNRESTRICTED_DTRACE</string>
				<key>name</key>
				<string>DTrace Restrictions</string>
			</dict>
			<key>fs</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_UNRESTRICTED_FS</string>
				<key>name</key>
				<string>Filesystem Protections</string>
			</dict>
			<key>kext</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_UNTRUSTED_KEXTS</string>
				<key>name</key>
				<string>Kext Signing</string>
			</dict>
			<key>nvram</key>
			<dict>
				<key>flag</key>
				<string>CSR_ALLOW_UNRESTRICTED_NVRAM</string>
				<key>name</key>
				<string>NVRAM Protections</string>
			</dict>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>collections</key>
		<array>
			<string>csr_process_capabilities</string>
		</array>
		<key>credits</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
</dict>
</plist>
