<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>collections</key>
		<array/>
		<key>credits</key>
		<array/>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
	</dict>
	<key>uuids</key>
	<dict>
		<key>3D3287DE-280D-4619-AAAB-D97469CA9C71</key>
		<dict>
			<key>description</key>
			<string>Primary System Recovery</string>
		</dict>
		<key>40A0DDD2-77F8-4392-B4A3-1E7304206516</key>
		<dict>
			<key>description</key>
			<string>System Firmware NVRAM Scope</string>
		</dict>
		<key>C8858560-55AC-400F-BBB9-C9220A8DAC0D</key>
		<dict>
			<key>description</key>
			<string>Fallback Recovery</string>
		</dict>
	</dict>
</dict>
</plist>
