[submodule "docs/qemu"]
	path = docs/qemu
	url = https://github.com/hack-different/qemu-xnu.wiki.git
[submodule "external/asahi"]
	path = external/asahi
	url = https://github.com/AsahiLinux/docs.wiki.git
