
<table>
    <thead>
        <th>SEP Ordinal</th>
        <th>Command</th>
        <td>Description</td>
    </thead>
    <tbody>
        <tr>
            <td>2</td>
            <td>begin_update_policy</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>3</td>
            <td>end_update_policy</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>11</td>
            <td>bootpolicy_get_proposed_local_policy_nonce_digest</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>12</td>
            <td>bootpolicy_get_proposed_remote_policy_nonce_digest</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>13</td>
            <td>bootpolicy_get_proposed_recoveryos_policy_nonce_digest</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>14</td>
            <td>bootpolicy_get_blessed_local_policy_nonce_digest</td>
            <td>Input "Volume Group ID", Returns "Local Policy Nonce Hash" (lpnh) </td>
        </tr>
        <tr>
            <td>15</td>
            <td>bootpolicy_get_blessed_remote_policy_nonce_digest</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>16</td>
            <td>bootpolicy_get_blessed_recoveryos_policy_nonce_digest</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>19</td>
            <td>update_local_policy_for_new_local_nonce</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>43</td>
            <td>create_sidp_measurement</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>45</td>
            <td>bootpolicy_get_linked_manifest_tag_list</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>62</td>
            <td>bootpolicy_get_current_os_type</td>
            <td>Returns macOS, one true recoveryOS, ordinary recoveryOS</td>
        </tr>
        <tr>
            <td>63</td>
            <td>bootpolicy_get_current_os_type_restrictions_override_status</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>67</td>
            <td>bootpolicy_get_local_policy_pairing_status</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>68</td>
            <td>bootpolicy_verify_local_policy_pairing</td>
            <td>TBD</td>
        </tr>
    </tbody>
</table>