<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>240</integer>
			<key>BoardConfig</key>
			<string>bootabilityap</string>
			<key>CPID</key>
			<integer>65286</integer>
			<key>Platform</key>
			<string>booty</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>23D60</string>
	<key>ProductVersion</key>
	<string>14.3.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>4026597126</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>4026597126</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iSim1,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
	</dict>
</dict>
</plist>
