# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Package - Python / PyPI

on:
  push:
    branches: [ main ]

jobs:
  ci-build-python:
    uses: hack-different/apple-knowledge/.github/workflows/build-python.yml@main

  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment: pypi-push
    defaults:
      run:
        working-directory: ./_packages/python

    steps:
      - name: Set up Python with Poetry Caching
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'poetry'
          cache-dependency-path: _packages/python/poetry.lock

      - name: Install Poetry
        run: pip install poetry

      - name: Download Python Package Artifacts
        uses: actions/download-artifact@v3
        with:
          name: package-python
          path: dist/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          packages_dir: dist/
          print_hash: true
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
