# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  push:
    branches: [ main ]

jobs:

  publish-pypi:
    runs-on: ubuntu-latest
    environment: pypi-push

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      working-directory: ./_packages/python
      run: |
        python -m pip install --upgrade pip poetry
        ./update_version.py
        poetry install

    - name: Build package
      working-directory: ./_packages/python
      run: poetry build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        packages_dir: _packages/python/dist/
        print_hash: true
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
